.App{
  
  text-align: center;
  padding: 7%;
}
.form{
  background-color: rgb(245, 243, 241);
  border: 1px solid black;
  border-width: 10%;
}
#divide{
  padding:  15px;
}
input{
 margin: 5px;
}
#submit{
  color: white;
  background-color: rgb(10, 72, 10);
  padding: 10px 20px 10px 20px;
  font-size: medium;
  border: none;
  border-radius: 2px;
}
select{
  width: 12%;
}
#label{
  padding-left: 20%;
}